@font-face {
  font-family: ebg;
  src: url("../assets/EBGaramond-Medium.ttf");
}

@font-face {
  font-family: lxd;
  src: url("../assets/LexendDeca-Regular.ttf");
}

body {
  font-family: ebg;
  font-size: 1.15em;
}

#background,
#panel #intro {
  grid-column: 1;
  grid-row: 1;
}

#background {
  z-index: -1;
}

#panel {
  z-index: 1;
  margin: 10%;
  background-color: #c5c5c54d;
  border-radius: 10px;
}

.nav-link {
  color: white;
}

.nav-link:hover {
  color: black;
}

.content {
  padding: 2.5em;
}

a {
  color: #161b22;
}

a,
button {
  font-family: lxd;
  font-size: 0.9em;
}

h3 {
  font-weight: bold;
}

.read-more {
  border-radius: 10px !important;
}

/* Large displays */
@media screen and (min-width: 768px) {
  .mobile-only {
    display: none;
  }
}

/* Small displays */
@media screen and (max-width: 768px) {
  .desktp-only {
    display: none;
  }

  #nav-tabContent,
  #intro-paragraph {
    padding-top: 2em;
  }
}

/*---------- ABOUT ME TAB ----------*/

.pfpic {
  padding: 0%;
  border-radius: 10px;
  width: 200px;
}

.fa,
.fab {
  padding: 0.5em 0;
  font-size: large;
  text-decoration: none;
  margin: .2em 0.2em;
  border-radius: 10px;
}

a:hover {
  color: white;
}

.fa-cv {
  background: #51ac77;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-github {
  background: #161b22;
  color: white;
}

.fa-hackerrank {
  background: #1ba94c;
  color: white;
}

/* Vertical timeline */
#experience-cards {
  position: relative;
  margin: 0 auto;
}

/* Vertical timeline ruler */
#experience-cards::before {
  content: '';
  position: absolute;
  width: 3px;
  background-color: lightgray;
  top: 0;  
  left: -15px;
  bottom: 0;
  border-radius: 5px;
}

/* Vertical timeline circle */
.experience::before {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: white;
  border: 3px solid lightgray;
  top: 15px;
  left: -22px;
  border-radius: 50%;
  z-index: 1;
}

.card {
  border-radius: 7px;
  background-color: #c5c5c580;
}

.card-text {
  font-size: medium;
}

.company-logo {
  border-radius: 50%;
}

/* Small displays */
@media screen and (max-width: 768px) {
  #email {
    font-size: 2.9vw;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  #email {
    font-size: 1.4vw;
  }
}

/*---------- PROJECTS TAB ----------*/

.list-group {
  border-radius: 7px;
}

.list-group-item {
  background: #ffffff4f;
}

.list-group-item:hover {
  background-color: #ffffffcc;
}

.list-group-item.active {
  background: #007bb5;
  border: none;
}

.proj-class-header {
  font-weight: bold;
}

.proj-class-hr {
  border: none;
  height: 2px !important;
  background-color: #000000;
}

.proj-title img {
  float: left;
  width: auto;
  height: 25px;
  margin-right: 10px;
}

.code-link {
  border-radius: 10px;
}

.proj-img-reel {
  padding: 1em 0;
}

.proj-img-reel img {
  height: 100%;
  width: 100%;
}

/* Large displays */
@media screen and (min-width: 768px) {
  .proj-img-reel img {
    padding: 0 0.3em;
    max-height: 70px;
    width: auto;
  }

  .tools-icons {
    float: left;
  }
}

.proj-gallery {
  padding-bottom: 1em;
}

.tools-icons div {
  background-color: #dfdfdf2f;
  padding: 10px;
  border-radius: 7px;
  border: #000000b9;
}

.tools-icons img {
  max-height: 2.3em;
  width: auto;
}

.tools-icons p {
  font-size: small;
  margin-bottom: 0;
}

table td {
  font-size: small;
}