@font-face {
  font-family: lexendDeca;
  src: url("../assets/LexendDeca-Regular.ttf");
}

body {
  font-family: lexendDeca;
}

#background,
#panel #intro {
  grid-column: 1;
  grid-row: 1;
}

#background {
  z-index: -1;
}

#panel {
  z-index: 1;
  margin: 10%;
  background-color: #c5c5c54d;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  border-radius: 20px;
}

.nav-link {
  color: white;
}

.nav-link:hover {
  color: black;
}

.content {
  padding: 2.5em;
}

a {
  color: #161b22;
}

h3 {
  font-weight: bold;
}

.readMore {
  border-radius: 15px !important;
}

/* Large displays */
@media screen and (min-width: 768px) {
  .mobile-only {
    display: none;
  }
}

/* Small displays */
@media screen and (max-width: 768px) {
  .desktp-only {
    display: none;
  }

  #nav-tabContent,
  #intro-paragraph {
    padding: 1em;
    padding-top: 2em;
  }
}

/*---------- ABOUT ME TAB ----------*/

#pfpic {
  padding: 0%;
  border-radius: 20px;
  width: 150px;
}

.fa,
.fab {
  padding: 0.5em 0;
  font-size: large;
  text-decoration: none;
  margin: .2em 0.2em;
  border-radius: 10px;
}

a:hover {
  color: white;
}

.fa-cv {
  background: #51ac77;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-github {
  background: #161b22;
  color: white;
}

.fa-hackerrank {
  background: #1ba94c;
  color: white;
}

/* Vertical timeline */
#experience-cards {
  position: relative;
  margin: 0 auto;
}

/* Vertical timeline ruler */
#experience-cards::before {
  content: '';
  position: absolute;
  width: 3px;
  background-color: lightgray;
  top: 0;  
  left: -15px;
  bottom: 0;
  border-radius: 5px;
}

/* Vertical timeline circle */
.experience::before {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: white;
  border: 3px solid lightgray;
  top: 15px;
  left: -22px;
  border-radius: 50%;
  z-index: 1;
}

.card {
  border-radius: 1em;
  background-color: #c5c5c580;
}

.company-logo {
  border-radius: 50%;
}

/*---------- PROJECTS TAB ----------*/

.list-group {
  border-radius: 15px;
}

.list-group-item {
  background: #ffffff4f;
}

.list-group-item:hover {
  background-color: #ffffffcc;
}

.list-group-item.active {
  background: #007bb5;
  border: none;
}

.header-with-icon img {
  float: left;
  width: auto;
  height: 30px;
  margin-right: 10px;
}

.code-link {
  border-radius: 10px;
}

.proj-img-reel {
  padding: 1em 0;
}

.proj-img-reel img {
  height: 100%;
  width: 100%;
}

/* Large displays */
@media screen and (min-width: 768px) {
  .proj-img-reel img {
    padding: 0 0.3em;
    max-height: 70px;
    width: auto;
  }

  .tools-icons {
    float: left;
  }
}

/* Small displays */
@media screen and (max-width: 768px) {
  .proj-description {
    text-align: left;
  }
}

.proj-gallery {
  padding-bottom: 1em;
}

.tools-icons img {
  max-height: 6em;
  max-width: 6em;
}